{% extends 'main/base.html' %}
{% block page_content %}
    <!DOCTYPE html>
    <html>
    <head>
        <style>
            a:link img {
                opacity: 1.0;
                filter: alpha(opacity=100); /* For IE8 and earlier */
            }

            a:hover img {
                opacity: 0.6;
                filter: alpha(opacity=60); /* For IE8 and earlier */
            }
        </style>
    </head>

    <body class=" w3-theme-l4">
    <div>&nbsp;</div>
    <div class="w3-col m3">&nbsp;</div>
    <div class="w3-col m6">
        <div class="w3-row-padding">
            <div class="w3-col-m12">
                <div class="w3-card w3-round w3-white">
                    <div class="w3-container w3-padding">
                        <a href="{% url 'community view' %}"><img src="media/logo.jpg" class="a"
                                                                  style="max-width: 100%;"/></a>
                        <p style="text-align:center">
                            <a href="{% url 'login user' %}" class="w3-button w3-theme"> Влез </a>
                            <a href="{% url 'register' %}" class="w3-button w3-theme"> Присъедини се </a>
                        </p>
                    </div>
                    <div class="col-lg-3"></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}}

</body>
</html>
