{% extends 'main/base.html' %}
{% block page_content %}

    <!-- Page Container -->
    <div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
        <!-- The Grid -->
        <div class="w3-row">
            <!-- Left Column -->
            <div class="w3-col m2">
                <div class="w3-card w3-round">
                    <div class="w3-white">

                        <a class="w3-button w3-block w3-theme-l1 w3-left-align" href="{% url 'create plant' %}">
                            Създай
                            обява </a>

                        <a class="w3-button w3-block w3-theme-l1 w3-left-align" href="{% url 'my plants' %}"> Моите
                            обяви </a>


                    </div>
                </div>

                <br>
                <div class="w3-card w3-round w3-theme-l3 w3-center">
                    <div class="w3-container">

                        <br>
                        <form action="{% url 'market' %}" method="GET">
                            {% csrf_token %}
                            {% for type in type_list %}

                                <button class="w3-button w3-block w3-theme-l3 w3-center-align" name="type"
                                        type='{{ type }}' value="{{ type }}">
                                    {{ type }}
                                </button>
                            {% endfor %}

                        </form>
                        <br>
                    </div>
                </div>


                <!-- End Left Column -->
            </div>


            <!-- Middle Column -->
            <div class="w3-col m10">
                <div class="w3-row-padding">
                    <div class="w3-col m12">
                        <div class="w3-theme-l3">
                            <div class="w3-container w3-padding">
                                <h6 style="text-align: center" class="w3-opacity">Пазарувайте сезонно и местно!</h6>

                            </div>
                        </div>
                    </div>
                </div>

                {% if plants %}


                    <div class="w3-container w3-card w3-theme-l3 w3-round w3-margin"><br>
                    <h4 style="font-style: oblique">Последни обяви</h4>
                    <br>
                    {% for plant in plants %}
                        <div class="horizontalBlocks">
                            <div class="wrap">
                                <a href="{% url 'plant details' plant.pk %}">
                                    <img class="rel" src="{{ plant.photo.url }}" style="max-width: 200px;width:100%"
                                         alt="снимка"></a>
                                {#                                <p>{{ plant.type }} ({{ plant.kind }}) </p>#}
                                <p>{{ plant.name }}</p>
                                <p style="font-style: italic">{{ plant.price }} лв.</p>
                            </div>
                        </div>

                    {% endfor %}
                {% else %}
                    <div class="w3-container w3-card w3-theme-l3 w3-round w3-margin"><br>
                        <p> Няма обяви!</p>
                    </div>
                {% endif %}

                <!-- End Middle Column -->
                </div>


            </div>
        </div>
    </div>

    <p style="margin-bottom:5cm;"></p>
{% endblock %}
