{% extends 'main/base.html' %}
{% block page_content %}

    <!-- Page Container -->
    <div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
        <!-- The Grid -->
        <div class="w3-row">
            <!-- Left Column -->
            <div class="w3-col m2">
                <div class="w3-card w3-round">
                    <div class="w3-white">

                        <a class="w3-button w3-block w3-theme-l1 w3-left-align" href="{% url 'create product' %}">
                            Създай
                            обява </a>

                        <a class="w3-button w3-block w3-theme-l1 w3-left-align" href="{% url 'my products' %}"> Моите
                            обяви </a>


                    </div>
                </div>
                <br>
                <div class="w3-card w3-round w3-theme-l3 w3-center">
                    <div class="w3-container">
                        <h4 style="font-style: oblique">Последни обяви:</h4>

                    </div>

                </div>
                <br>
                <br>
                <div class="w3-card w3-round w3-theme-l3 w3-center">
                    <div class="w3-container">
                        <br>
                        <form action="{% url 'products' %}" method="GET">
                            {% csrf_token %}
                            {% for craft in craft_list %}

                                <button class="w3-button w3-block w3-theme-l3 w3-center-align" name="craft"
                                        type='{{ craft }}' value="{{ craft }}">
                                    {{ craft }}
                                </button>
                            {% endfor %}

                        </form>
                        <br>
                    </div>
                </div>
                <!-- End Left Column -->
            </div>


            <!-- Middle Column -->
            <div class="w3-col m10">
                <div class="w3-row-padding">
                    <div class="w3-col m12">
                        <div class="w3-theme-l3">
                            <div class="w3-container w3-padding">
                                <h6 style="text-align: center" class="w3-opacity">Добре дошли в Занаятчийницата!</h6>

                            </div>
                        </div>
                    </div>
                </div>

                {% if products %}


                    <div class="w3-container w3-card w3-theme-l3 w3-round w3-margin"><br>

                    <br>
                    {% for product in products %}
                        <div class="horizontalBlocks">
                            <div class="wrap">
                                <a href="{% url 'product details' product.pk %}">
                                    <img class="rel" src="{{ product.photo.url }}" style="max-width: 200px;width:100%"
                                         alt="снимка"></a>

                                <h4>{{ product.title }}</h4>
                                <p style="font-style: italic">{{ product.price }} лв.</p>
                            </div>
                        </div>

                    {% endfor %}
                {% else %}
                    <div class="w3-container w3-card w3-theme-l3 w3-round w3-margin"><br>
                        <p> Няма обяви!</p>
                    </div>
                {% endif %}

                <!-- End Middle Column -->
                </div>


            </div>
        </div>
    </div>

    <p style="margin-bottom:5cm;"></p>
{% endblock %}
