{% extends 'main/base.html' %}
{% block page_content %}
    <div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
        <!-- The Grid -->
        <div class="w3-row">

            <h1 class="text-center">Промени своя код</h1>
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-6">

                    <!-- Login Form -->
                    <form method="POST" action="{% url 'change password' %}">
                        {% csrf_token %}
                        {{ form }}
                        <button class="btn btn-primary mt-2" type="submit">Готово</button>
                    </form>
                </div>
                <div class="col-lg-3"></div>
            </div>
        </div>
    </div>
    <p style="margin-bottom:7cm;"></p>
{% endblock %}