{% extends 'main/base.html' %}
{% block page_content %}

    <div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">

        <div class="w3-row">
            {% if profile.photo %}
                <img src="{{ profile.photo.url }} " alt="description">
            {% endif %}
        </div>
        <div class="d-inline p-2 w-50">


            <div class="d-flex flex-column">
                <h5><u>Име:</u> {{ profile.first_name }} {{ profile.last_name }} </h5>
                <h5><u>от</u> {{ profile.region }} </h5>
                {% if profile.place %}
                    <h5><u>Живея в: </u> {{ profile.place }}</h5>
                {% endif %}
                {% if profile.phone_number %}
                    <h5><u>Чуй ме на: </u> {{ profile.phone_number }}</h5>
                {% endif %}
                {% if profile.email %}
                    <h5><u>Пиши ми на: </u> {{ profile.email }}</h5>
                {% endif %}

                {% if profile.description %}
                    <h5><u>За мен:</u> {{ profile.description }}</h5>
                {% endif %}
            </div>

            {% if is_me %}
                <a href="{% url 'edit profile' profile.pk %}" class="w3-button w3-theme-d2 w3-margin-bottom">Промени
                    се</a>
                <a href="{% url 'delete user' profile.user.pk %}" class="w3-button w3-theme-d2 w3-margin-bottom">Премахни
                    се</a>
            {% endif %}
        </div>
    </div>

{% endblock %}


