{% extends 'main/base.html' %}
{% block page_content %}

    <div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">

        <div class="w3-row">
            <div class="w3-col m3">
                {% if profile.photo %}
                    <img src="{{ profile.photo.url }}" style="max-width:600px;width:100%" alt="description">
                {% endif %}
            </div>


            <div class="w3-col m9">

                <div class="w3-row-padding">
                    <div class="w3-col m12">
                        <div class="w3-theme-l3">
                            <div class="w3-container w3-padding">


                                <h2> {{ profile.first_name }} {{ profile.last_name }} </h2>
                                <br>
                            <span class="w3-left w3-opacity">От къде съм</span>
                                    <br>

                                <p> {{ profile.region }}{% if profile.place %}, {{ profile.place }} {% endif %}</p>
                                <br>
                              <span class="w3-left w3-opacity">Свържи се с мен</span>
                                    <br>

                                {% if profile.phone_number %}
                                    <p>{{ profile.phone_number }}</p>
                                {% endif %}
                                {% if profile.email %}
                                    <p>{{ profile.email }}</p>
                                    <br>
                                {% endif %}



                                {% if profile.description %}
                                    <span class="w3-left w3-opacity">За мен</span>
                                    <br>
                                    <p>  {{ profile.description }}</p>
                                {% endif %}
                            <div style="text-align: center">
                            <br>
                                {% if is_me %}
                                    <a href="{% url 'edit profile' profile.pk %}"
                                       class="w3-button w3-theme-d2 w3-margin-bottom">Промени
                                        се</a>
                                    <a href="{% url 'delete user' profile.user.pk %}"
                                       class="w3-button w3-theme-d2 w3-margin-bottom">Напусни ни</a>
                                {% endif %}
                            </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <p style="margin-bottom:1cm;"></p>
{% endblock %}

