{% extends 'main/base.html' %}
{% block page_content %}


    <div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">

        <div class="w3-row">
            <div class="w3-col m7">
                {% if plant.photo %}
                    <img src="{{ plant.photo.url }}" alt="Northern Lights" class="w3-margin-bottom" style="width:100%">
                {% endif %}
            </div>


            <div class="w3-col m5">

                <div class="w3-row-padding">
                    <div class="w3-col m12">
                        <div class="w3-theme-l3">
                            <div class="w3-container w3-padding">

                                <h2> {{ plant.type }} ({{ plant.kind }})</h2>
                                <p style="font-style: italic">{{ plant.price }} лв. </p>
                                <hr class="w3-clear">
                                <div class="w3-row-padding" style="margin:0 -16px">
                                    {% if plant.description %}
                                        <span class="w3-left w3-opacity">Описание</span>
                                        <br>
                                        <p>{{ plant.description }}</p>
                                    {% endif %}


                                    <hr class="w3-clear">
                                    <span class="w3-left w3-opacity">Отгледал</span>
                                    <br>
                                    <br>
                                    <img src="{{ plant.owner.photo.url }}" alt="Avatar"
                                         class="w3-left w3-circle w3-margin-right" style="width:60px">
                                    <a href="{% url 'profile details' plant.owner.user.profile.pk %}"> {{ plant.owner.user.username }}</a>
                                   </div>


                                    <hr class="w3-clear">


                                {% if is_owner %}
                                    <div style="text-align: center">
                                        <a href="{% url 'edit plant' plant.pk %}"
                                           class="w3-button w3-theme-d2 w3-margin-bottom">Промени</a>
                                        <a href="{% url 'delete plant' plant.pk %}"
                                           class="w3-button w3-theme-d2 w3-margin-bottom">Премахни</a>
                                    </div>
                                {% endif %}
                            </div>

                        </div>
                        <br>
                        <br>

                    </div>
                </div>
            </div>

        </div>
    </div>
<p style="margin-bottom:1cm;"></p>

{% endblock %}