{% extends 'main/base.html' %}
{% block page_content %}

    <div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
        <div class="w3-row">
            <div class="container mb-5">
                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-6">

                        <form method="post" action="{% url 'create plant' %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form }}
                            <button class="btn btn-primary mt-2" type="submit">Сподели</button>
                        </form>

                    </div>
                    <div class="col-lg-3"></div>
                </div>
            </div>
            <div class="spacer"></div>
        </div>
    </div>
    <p style="margin-bottom:12cm;"></p>

{% endblock %}
