{% extends 'main/base.html' %}
{% block page_content %}

    <div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
        <div class="w3-row">
        </div>
        <div class="d-inline p-2 w-50">
            <div class="container mb-4">
                <div class="d-flex justify-content-start mb-5">
                <h2>Моите събития</h2>
                <br>
                {% if events %}
                    {% for event in events %}
                        <div class="horizontalBlocks">
                            <div class="wrap">
                                <a href="{% url 'event details' event.pk %}">
                                    <img class="rel" src="{{ event.photo.url }}" style="max-width: 200px;width:100%"
                                         alt="снимка"></a>

                                <p>{{ plant.name }}</p>
                                <p style="font-style: italic">{{ event.name }}</p>
                            </div>
                        </div>

                    {% endfor %}
                    {% else %}
                    <h2>Нямате събития!</h2>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
 <p style="margin-bottom:7cm;"></p>
{% endblock %}
